<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.windi.css">
	<script>
		navigator.serviceWorker.register('/sw.js')
	</script>
	<script src="/alpine.min.js" defer></script>
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>